body {
    margin: 0; 

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333; 
}

#content {
    display: flex; 

    margin: auto; 
    padding: 20px; 
    
    height: calc(100vh - 40px); 
    max-height: 1000px;
    max-width: 1080px; 
    
    background-color: #fff; 
}

button {
    padding: 8px; 

    border-width: 0; 
    border-radius: 10px; 
    
    font-weight: 900;

    cursor: pointer;
}

.blue-button {
    color:#fff; 
    background-color: #13b9fa;
    transition: transform 0.05s ease-out, background-color 0.1s;
}

.blue-button:hover {
    background-color: #00abee; 
}

.blue-button:active {
    background-color: #0885d8; 
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* svg styles ------------------------------- */

svg {
    font-family: consolas;
}

.parent {
    display: block;
}

.text {
    fill: #fff;
    font-weight: 400;
    margin: auto;
}

.box {
    border-radius: 16px;
}
.parent:hover > .box {
    cursor: pointer;
    fill: var(--hover-color);
}
.parent:hover > .text {
    cursor: pointer;
}